In [ ]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':[9,7,1,2],
                   'C':[0,0,0,0],
                   'D':[1,1,1,1]})

In [ ]:
df

   A  B  C  D
0  1  9  0  1
1  2  7  0  1
2  3  1  0  1
3  4  2  0  1

In [ ]:
# Dropping constant feature(variance threshold)
from sklearn.feature_selection import VarianceThreshold
var_thre = VarianceThreshold(threshold=0)
var_thre.fit(df)

VarianceThreshold(threshold=0)

In [ ]:
var_thre.get_support()

array([ True,  True, False, False])

In [ ]:
df.columns[var_thre.get_support()]

Index(['A', 'B'], dtype='object')

In [ ]:
# find the constant column
const_column = [column for column in df.columns  if column not in df.columns[var_thre.get_support()]]

In [ ]:
const_column

['C', 'D']

In [ ]:
df.drop(const_column,axis  = 1)

   A  B
0  1  9
1  2  7
2  3  1
3  4  2